<script>
	/*
	 * You must have this piece of code in the body
	<div class="input-group" id="password-input-group">
		<input asp-for="Input.Password" class="form-control" />
		<div class="input-group-append" id="show-hide-password">
			<span style="cursor:pointer" class="input-group-text">
				<i class="fas fa-eye-slash" aria-hidden="true" id="show-hide-icon"></i>
			</span>
		</div>
	</div>
	*/
		window.onload = () => {
			var input = document.querySelector("#password-input-group input")
			var showHideButton = document.getElementById("show-hide-password")
			var showHideIcon = document.getElementById("show-hide-icon")
			showHideButton.onclick = () => {
				console.log("click")
				if (input.type === "password") {
					input.type = "text"
					showHideIcon.classList.remove("fa-eye")
					showHideIcon.classList.add("fa-eye-slash")
				} else {
					input.type = "password"
					showHideIcon.classList.remove("fa-eye-slash")
					showHideIcon.classList.add("fa-eye")
				}
			}
		}
</script>