@model ParallelTracker.Controllers.EditCommentInput
@inject ParallelTracker.Tools.CurrentResources CurrentResources
@{
	ViewData["Title"] = "Edit your comment";
	Layout = "~/Views/Shared/_IssueLayout.cshtml";
	var issue = CurrentResources.Issue;
	var repo = issue.Repo;
}

<div class="card">
	<div class="card-header">
		Edit your comment
	</div>
	<div class="card-body">
		<form asp-action="Edit">
			<div class="form-group">
				<label asp-for="Text" class="sr-only">Comment</label>
				<textarea asp-for="Text" class="form-control" rows="10"></textarea>
				<span asp-validation-for="Text" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
				<a class="btn btn-outline-secondary ml-1" asp-controller="Issues" asp-action="Details" asp-route-id="@issue.Id">Cancel</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
