@model ParallelTracker.Controllers.ReposController.ChooseRepoInput
@{
	ViewData["Title"] = "Copy a GitHub Repo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-lg-8 offset-lg-2">
		<div class="card">
			<div class="card-header">
				@ViewData["Title"]
			</div>
			<div class="card-body">
				<p>Go to GitHub, choose a repo and enter its full name below.</p>
				<ul>
					<li>Don't enter the repo URL.</li>
					<li>
						If the URL is <code>https://github.com/<span class="border rounded-sm">danlopes-arc/parallel-tracker</span></code>,<br />
						the repo full name is <code class="border rounded-sm">danlopes-arc/parallel-tracker</code>.
					</li>
				</ul>
			</div>
			<hr class="my-0" />
			<div class="card-body">
				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="FullName" class="control-label"></label>
						<input asp-for="FullName" class="form-control" />
						<span asp-validation-for="FullName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input type="submit" value="Choose" class="btn btn-primary" />
						<a class="btn btn-outline-secondary ml-1" asp-action="Index">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
