@model ParallelTracker.Controllers.ReposController.ChooseRepoInput
@{
	ViewData["Title"] = "Choose a GitHub Repo to Copy";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@ViewData["Title"]</h1>
<p>Go to GitHub, choose a repo and enter its name below.</p>
<div class="alert alert-info">
	<h5 class="alert-heading">Don't enter the repo's url</h5>
	<p class="">If the url is <strong>https://github.com/danlopes-arc/parallel-tracker</strong>, the repo's name is <strong>danlopes-arc/parallel-tracker</strong>.</p>
</div>
<div class="row">
	<div class="col-md">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Choose" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
